.jogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.posicao {
    border: 1px solid black;
    height: 20px;
    width: 20px;
}
.container{
    margin-left: 500px;
    width: 250px;
}
.apagar{
    margin-top: 25px;
}
.torre{
    margin-left: 250px;
}
.torre2{
    margin-left: 550px;
}
.torre3{
    margin-left: 850px;
}
.centralizar{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.oculto{
    display: none;
}